body {
  background-image: linear-gradient(to bottom, #9d78f3, #6a19a0);
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  margin-bottom: 50px;
  color: #ffffff;
}

.timeline {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-items: flex-start;
  position: relative;
  margin: 50px auto;
  max-width: 100%;
  border-top: 4px solid #ffffff;
  padding-top: 20px;
}

.timeline-event {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-event,
.print {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeSlide 2s forwards;
}

@keyframes fadeSlide {
  to {
    opacity: 1.5;
    transform: translateY(0);
  }
}

.timeline-event:nth-child(1),
.print:nth-child(2) {
  animation-delay: 0.2s;
}
.timeline-event:nth-child(3),
.print:nth-child(4) {
  animation-delay: 5.2s;
}
.timeline-event:nth-child(5),
.print:nth-child(6) {
  animation-delay: 10.2s;
}
.timeline-event:nth-child(7),
.print:nth-child(8) {
  animation-delay: 15.2s;
}
.timeline-event:nth-child(9) {
  animation-delay: 20.2s;
}

.circle {
  width: 60px;
  height: 60px;
  background: #ffffff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1;
  overflow: hidden;
  padding: 0;
}

.circle img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.line {
  width: 2px;
  height: 50px;
  background: #ffffff;
  margin: 5px 0;
}

.timeline-event p {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.print img {
  width: auto;
  max-width: 300px;
  height: 150px;
  margin: 20px 30px;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.print img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.button {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  margin: 10px;
  padding: 10px 20px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.button:hover {
  background: #ff85a2;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-conteudo {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
  border-radius: 12px;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .timeline {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    margin: 20px auto;
  }

  .timeline-event {
    flex-direction: column; 
    align-items: center;
    margin: 30px 0;
    width: 90%;
  }

  .circle {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .line {
    width: 2px;
    height: 30px;
    background: #ff69b4;
    margin: 10px 0;
  }

  .timeline-event p {
    font-size: 14px;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .print img {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin: 10px 0;
  }
}